body {
    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;

    background: #1e293b;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container {
    background: white;

    padding: 25px;
    width: 300px;

    border-radius: 8px;

    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 22px;
}

#password {
    width: 100%;

    padding: 8px;
    font-size: 15px;

    margin-bottom: 15px;
}

.btn {
    width: 100%;

    padding: 10px;

    background: #2563eb;
    color: white;

    border: none;
    border-radius: 4px;

    cursor: pointer;
    font-size: 15px;
}

.btn:hover {
    background: #1d4ed8;
}
